.fields{
    padding:20px;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    padding-top:40px;
    padding-bottom:40px;
    padding-right:30px;
    padding-left:30px;
    width:80%;
    border-radius: 6px;
    margin: auto;
    margin-top:30px;
}
.input-group{
    margin-top:7px;
}